In [1]:
#to export a notebook to html use:
# >ipython nbconvert --to html Process-GitHub-Repos.ipynb

from pandas import DataFrame, Series
import pandas as pd
import matplotlib.pyplot as plt
import string
from datetime import datetime, date, time

import re
%pylab inline
import numpy as np
import scipy as sc
import scipy.stats as stats
from scipy.optimize import leastsq

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['datetime']
`%matplotlib` prevents importing * from pylab and numpy

In [2]:
from collections import Counter

data_file = './datasets/msnbc990928.seq'
file = open(data_file, 'r')
state_cnt = Counter()
overall_state_trans = Counter()
list_state_trans = []
list_state_visit = []
for index,line in enumerate(file):
    if index<7:
        continue
#   print index," : ",line.split()
    traj = line.split()
    if len(traj)>500:
        continue
        
    state_cnt = Counter()
    for state in traj:
        state_cnt[int(state)]+=1
    list_state_visit.append(state_cnt)
    
    traj = ['0']+line.split()
    state_trans_cnt = Counter()
    for prevstate,state in zip(traj[:-1],traj[1:]):
        state_trans_cnt[prevstate+">"+state]+=1
        overall_state_trans[prevstate+">"+state]+=1

    list_state_trans.append(state_trans_cnt)

In [3]:
df_state_visit = DataFrame(list_state_visit)
df_state_visit = df_state_visit.fillna(0)
df_state_visit.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,5,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
df_state_visit.shape

(989782, 17)

In [8]:
import sklearn.cluster
from sklearn.cluster import MiniBatchKMeans, KMeans

def do_kmeans(df):
    # Convert DataFrame to matrix
    mat = df.as_matrix()
    # Using sklearn
    k_means = sklearn.cluster.KMeans(n_clusters=10, init='k-means++',n_jobs=2)
    k_means.fit(mat)
    # Get cluster assignment labels
    return k_means.labels_,k_means.cluster_centers_

In [9]:
k_means_labels,k_means_cluster_centers = do_kmeans(df_state_visit)

In [10]:
df_res = DataFrame(df_state_visit)
df_res['k_means_labels'] = k_means_labels
df_res.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,k_means_labels
0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,5,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,8
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
cluster_counts = df_res.k_means_labels.value_counts()
for i,s in zip(cluster_counts.index,cluster_counts):
    print i," : ",s," || ",k_means_cluster_centers[i]
    print

4  :  836345  ||  [ 0.49818317  0.21126449  0.19822083  0.22817617  0.0674602   0.41042512
  0.18824289  0.1204204   0.19957793  0.10209064  0.07837196  0.23531318
  0.21765898  0.14392984  0.04933251  0.0101836   0.01194124]

1  :  44590  ||  [ 8.80580848  0.76108993  0.31551917  0.43570307  0.15967706  0.36958959
  0.49784705  0.08261942  0.0566719   0.25821933  0.31314196  0.66382597
  0.02653061  0.46721238  0.06144876  0.03132989  0.0739852 ]

3  :  36040  ||  [  2.16897891e-01   2.22086570e-01   5.80743618e-02   2.25083241e-01
   5.04439512e-02   1.73723640e-01   1.89178690e-01   8.84805771e+00
   1.89289678e-01   7.41398446e-02   5.72974473e-02   7.98002220e-02
   1.54078801e-01   1.27608213e-01   2.01442841e-02   2.19200888e-03
   1.29578246e-02]

2  :  30394  ||  [ 0.96657235  0.37533724  0.11893795  0.23409226  0.07603474  0.18605646
  0.35622162  0.12926893  0.13134171  0.07860104  0.10446141  0.24741725
  0.79295256  7.44600908  0.04372574  0.03536882  0.01954333]

0  :  29677  ||  [ 1.38875223  6.80543856  0.50325168  0.62371534  0.26468309  0.76395862
  0.49930923  0.18947333  0.23802945  0.57674293  0.28183442  0.65404185
  0.03174175  0.30141187  0.23452505  0.02250901  0.05910301]

8  :  6597  ||  [  9.73927543e-01   9.60436562e-01   1.67803547e-01   2.02154009e+01
   1.85538881e-01   5.18872215e-01   1.74882522e+00   4.69001061e-01
   6.76064878e-01   2.57541307e-01   1.90237987e-01   2.55267546e-01
   1.96452933e-01   4.15037138e-01   1.02622404e-01   9.85296347e-03
   3.85023496e-02]

7  :  3668  ||  [  3.15866957   1.25354417   0.25136314   0.83833152   0.18647764
   3.07633588  21.56924755   0.39776445   0.53217012   0.55806979
   0.17884406   0.38931298   0.08696838   0.78353326   0.13167939
   0.02453653   0.05098146]

5  :  2298  ||  [  1.82419495e+00   8.46823325e-01   3.62489121e-01   7.74151436e-01
   3.12998259e+01   4.12532637e-01   3.78590078e-01   3.12880766e-01
   1.14621410e+00   1.94081810e-01   2.66318538e-01   2.68059182e-01
   2.18450827e-01   4.24281984e-01   9.79112272e-02   1.74064404e-02
   3.43777198e-02]

6  :  95  ||  [ 129.88421053    4.65263158    0.71578947    3.65263158    1.34736842
    2.63157895    3.31578947    0.86315789    1.            0.47368421
    0.70526316    1.45263158    0.21052632    2.51578947    0.28421053
    1.46315789    0.17894737]

9  :  78  ||  [  1.84615385e+00   7.56410256e-01   3.84615385e-02   3.58974359e-01
   3.97435897e-01   5.00000000e-01   2.05128205e-01   5.51282051e-01
   6.41025641e-02   5.12820513e-02   1.28205128e-01   6.28205128e-01
   3.84615385e-02   5.12820513e-01   1.02564103e-01   1.43230769e+02
   1.28205128e-02]

In [49]:
df_k_means_centers = DataFrame(k_means_cluster_centers)
df_k_means_centers[:1].round(0)

AttributeError: 'DataFrame' object has no attribute 'round'

In [50]:
print df_k_means_centers[1]

KeyError: 16

In [ ]:
df_k_means_centers[1].round

In [18]:
df_res[df_res['k_means_labels']==2]

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,k_means_labels
38,0,0,0,2,0,0,8,0,0,0,0,0,11,3,0,0,0,2
44,0,0,0,0,0,0,0,1,0,0,0,0,4,5,0,0,0,2
68,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,2
74,3,3,0,0,0,0,0,0,0,0,0,0,0,12,0,0,0,2
104,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
116,4,1,0,0,0,0,0,0,0,2,0,1,0,6,0,0,0,2
135,0,0,0,0,0,0,0,0,0,0,0,0,3,16,0,0,0,2
165,3,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,0,2
166,3,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
215,0,0,0,2,0,0,0,3,0,0,0,0,0,5,0,0,0,2
244,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,2
256,0,0,0,0,0,0,0,3,1,0,0,0,10,4,0,0,0,2
294,5,0,0,0,0,0,0,0,0,2,0,0,0,6,0,0,0,2
299,1,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
333,2,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,2
339,4,1,0,0,9,1,4,0,0,1,2,1,0,11,0,0,0,2
366,2,0,0,0,0,0,0,0,0,0,0,3,0,24,0,0,0,2
408,0,0,0,0,0,0,0,0,0,0,0,0,0,12,0,0,0,2
442,0,0,0,0,0,0,0,0,0,0,1,0,0,5,0,0,0,2
452,0,1,0,0,0,0,0,0,0,0,2,0,4,7,0,0,0,2
529,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,2
530,0,0,1,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
571,1,0,0,0,0,0,0,0,0,0,0,0,0,9,0,0,0,2
580,0,0,1,0,0,0,0,0,0,0,0,0,3,5,0,0,0,2
628,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,2
654,0,0,1,0,0,0,0,0,0,0,0,3,0,10,0,0,0,2
675,2,0,0,0,0,0,0,0,0,0,0,0,0,8,0,0,0,2
686,0,0,0,0,0,2,12,0,1,0,0,0,1,13,0,0,0,2
699,0,0,0,0,0,0,0,0,0,0,0,0,12,5,0,0,0,2
722,0,0,0,0,0,0,0,0,0,0,0,0,1,4,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988488,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
988496,0,0,0,0,0,0,0,0,0,0,0,0,0,13,0,0,0,2
988552,0,1,1,0,0,0,0,0,0,0,0,0,0,4,1,0,0,2
988645,1,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,0,2
988652,1,0,0,0,0,0,4,0,0,0,0,0,0,5,0,0,0,2
988667,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
988669,0,0,0,0,0,0,0,0,0,0,0,0,0,18,0,0,0,2
988713,0,0,0,0,0,0,0,0,0,0,0,3,0,7,0,0,0,2
988751,0,0,0,0,0,0,0,0,0,0,0,2,0,9,0,0,0,2
988760,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0,2
988770,1,3,7,0,0,0,0,0,0,0,0,9,0,12,0,0,1,2
988780,0,0,0,0,0,3,0,0,0,0,0,0,0,4,0,0,0,2
988838,2,0,0,0,0,0,4,0,0,0,0,0,4,5,0,0,0,2
988866,0,3,0,2,0,0,0,0,0,0,0,1,0,4,0,0,0,2
988884,0,1,0,0,0,0,4,0,0,0,0,0,0,5,0,0,0,2
988976,2,2,0,0,4,2,0,0,0,0,0,0,0,4,0,0,0,2
989081,0,0,1,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
989087,1,2,1,0,0,0,0,0,0,0,0,0,0,5,0,0,0,2
989093,0,0,1,0,0,0,0,0,0,0,0,0,0,13,0,0,1,2
989234,6,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0,2
989240,5,0,0,0,0,0,0,0,0,0,0,2,0,5,0,0,0,2
989266,0,1,1,4,0,0,0,0,0,0,0,0,0,5,7,0,0,2
989375,3,1,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,2
989403,7,2,0,0,3,0,0,0,0,0,0,2,0,8,0,0,0,2
989532,1,1,0,0,0,0,0,0,0,0,0,0,0,13,0,0,0,2
989640,0,0,0,0,0,0,0,0,0,0,0,0,2,10,0,0,0,2
989667,2,1,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0,2
989720,6,2,0,8,0,1,4,0,0,1,8,1,0,7,0,0,0,2
989726,0,0,0,0,0,0,0,0,0,0,1,0,0,6,0,0,0,2
989758,1,0,0,0,0,0,0,0,0,0,0,1,0,8,0,0,0,2

In [174]:
from sklearn import metrics
from sklearn.metrics import pairwise_distances
metrics.silhouette_score(df_state_visit.as_matrix(), k_means_labels, metric='euclidean',sample_size =10000)

0.54214805215958339

In [175]:
from sklearn import metrics
from sklearn.metrics import pairwise_distances
metrics.silhouette_score(df_state_visit.as_matrix(), k_means_labels, metric='euclidean',sample_size =20000)

0.54358861599043462